@charset "UTF-8";
@font-face { font-family:"Roundy Rainbows";font-variant:normal;font-style:normal;font-weight:normal;src:url("#FontID0") format(svg)}
.fil0 {fill:#57FF8F}
.fnt0 {font-weight:normal;font-size:22.51px;font-family:'Roundy Rainbows'}
